{% extends "base/base.html" %}

{% block body_content %}

    <div class="row">
        <div class="col-12 rounded-left px-5" style="background-color:#f2f2f2;min-height:50px;">
            Este div es una chapuzada para dejar espacio y ver como funciona el spacing px
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-12 rounded-left" style="background-color:#f2f2f2;">
            <div class ="alert alert-secondary" role="alert">                
            Esta es la fila para los filtros Nueva
            </div>
        </div>
        <div class="col-2 rounded-left" style="background-color:#1871a9; ">            
            <div class="alert alert-primary" style="min-height:200px;">
            Este es el bloque para la info detalle
            Pagina Inicio de XesTeq
            Pagina Inicio de XesTeq
            
            </div>
        </div>
        <div class="col-10 rounded-left ml-auto" style="background-color:#f2f2f2;min-height:50px">
            <div class="alert alert-primary" style="min-height:400px;">
            Este es el bloque para la tabla
            Pagina Inicio de XesTeq
            </div>
        </div>
    </div>

{% endblock %}